body {
    text-align: center;
    background-image: url("../img/1.jpg");
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
}

.board td {
    width: 40px;
    height: 40px;
    text-align: center;
    transition: 0.5s;
    border-radius: 2.5px;

    /*     opacity: 70%
 */
}

.board td:hover {
    background-color: rgb(158, 236, 244);
}

.board {
    margin: auto;
    height: 100px;
    font-family: 'Cookie', cursive;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

.rights {
    font-size: 15px;
    font-family: 'Handlee', cursive;

}

button {
    margin: 20px;
    font-family: 'Cookie', cursive;

}

.btn {
    width: 130px;
    height: 40px;
    font-size: 23px;
    color: rgb(12, 3, 3);
    border-radius: 9px;
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(156, 159, 161, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
}

.btn:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #84c8d7;
    background-image: linear-gradient(315deg, rgb(231, 227, 96) 0%, #F3ED9E 74%);
    transition: all 0.3s ease;
}

.btn:hover {
    background: transparent;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: rgb(13, 8, 76);
}

.btn:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.safe-clickes {
    margin-left: 20px;
}

.lives {
    margin-right: 20px;
}

h5 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Handlee', cursive;
    font-weight: normal;
    display: inline-block;
}

.options {
    margin-bottom: 0px;
}

.timer {

    font-family: 'Cookie', cursive;
}

.title {
    margin-top: 50px;
}

.restart-button {
    cursor: default;
    height: 50px;
    width: 200px;
    font-family: 'Handlee', cursive;
}

.undo-button {
    width: 120px;
    background-image: linear-gradient(315deg, #86f1ff 0%, #F3ED9E 70%);
}

.undo-button:after {
    background-image: linear-gradient(315deg, #9ae4ee 0%, #b7f9f1 74%);
}

.hidden-cell {
    background-color: rgba(192, 192, 150, 0.542);
}

.shown-cell {
    background-color: #92eef5
}

.timer {
    font-size: 22px;
    font-family: 'Handlee', cursive;
    font-size: bold;

}